API_MODE={{ backend_api_mode }}
API_ADDRESS=:8080
INTERNAL_API_TOKEN={{ backend_internal_api_token }}

DB_HOST=postgres
DB_PORT=5432
DB_USER={{ backend_postgres_user }}
DB_PASSWORD={{ backend_db_password }}
DB_NAME={{ backend_postgres_database }}
POSTGRES_USER={{ backend_postgres_user }}
POSTGRES_PASSWORD={{ backend_db_password }}
POSTGRES_DB={{ backend_postgres_database }}

VPN_ENDPOINTS_FILE=/run/spiritvpn/client-endpoints.json
VPN_NODE_NAME={{ backend_node_name }}
VPN_INBOUND_TAG={{ backend_inbound_tag }}
VPN_TEST_ACCESS_TTL={{ backend_test_access_ttl }}

LOG_LEVEL={{ backend_log_level }}
LOG_CONSOLE=true
LOG_FILE=false
LOG_ERROR_FILE=false
