# Provisioned datasources. The activity tenant is a SEPARATE, restricted source (spec §9.3, §16.2).
apiVersion: 1
datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:{{ prometheus_port }}
    isDefault: true
  - name: Loki-ops
    uid: loki-ops
    type: loki
    access: proxy
    url: http://loki:{{ loki_port }}
    jsonData: { httpHeaderName1: "X-Scope-OrgID" }
    secureJsonData: { httpHeaderValue1: "ops" }
  - name: Loki-activity          # restrict via Grafana team/folder perms; short retention
    uid: loki-activity
    type: loki
    access: proxy
    url: http://loki:{{ loki_port }}
    jsonData: { httpHeaderName1: "X-Scope-OrgID" }
    secureJsonData: { httpHeaderValue1: "activity" }
  - name: Alertmanager           # view firing alerts + manage silences in Grafana
    uid: alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:{{ alertmanager_port }}
    jsonData: { implementation: prometheus, handleGrafanaManagedAlerts: false }
