logging {
  level = "info"
}

discovery.docker "platform" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "platform" {
  targets = discovery.docker.platform.targets

  rule {
    source_labels = ["__meta_docker_container_label_com_docker_compose_project"]
    regex         = "observability|vault"
    action        = "keep"
  }

  rule {
    source_labels = ["__meta_docker_container_name"]
    target_label  = "container"
    regex         = "/(.*)"
    replacement   = "$1"
  }

  rule {
    target_label = "node"
    replacement  = "{{ inventory_hostname }}"
  }

  rule {
    target_label = "role"
    replacement  = "platform"
  }
}

loki.source.docker "platform" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.platform.output
  forward_to = [loki.write.local.receiver]
}

loki.write "local" {
  endpoint {
    url       = "http://loki:{{ loki_port }}/loki/api/v1/push"
    tenant_id = "ops"
  }
}
