name: vault
services:
  vault:
    image: {{ vault_image }}
    restart: unless-stopped
{% if not vault_disable_mlock | bool %}
    cap_add: ["IPC_LOCK"]
{% endif %}
    command: ["vault", "server", "-config=/vault/config/vault.hcl"]
    ports:
      - "{{ vault_bind_address }}:{{ vault_api_port }}:{{ vault_api_port }}"
      - "{{ vault_bind_address }}:{{ vault_cluster_port }}:{{ vault_cluster_port }}"
    volumes:
      - ./config:/vault/config:ro
      - ./data:/vault/data
      - ./tls:/vault/tls:ro
      - ./audit:/vault/audit
