name: {{ telegram_bot_compose_project }}

services:
  bot:
    image: {{ telegram_bot_image }}
    restart: unless-stopped
    network_mode: host
    env_file:
      - bot.env
    read_only: true
    tmpfs:
      - /tmp:size=8m,mode=1777
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    pids_limit: 64
    mem_limit: 128m
    cpus: 0.50
