ui = true
disable_mlock = true

storage "raft" {
  path    = "/vault/data"
  node_id = "{{ platform_vault_node_id }}"
}

listener "tcp" {
  address         = "0.0.0.0:{{ platform_vault_api_port }}"
  cluster_address = "0.0.0.0:{{ platform_vault_cluster_port }}"
  tls_cert_file   = "/vault/tls/vault.crt"
  tls_key_file    = "/vault/tls/vault.key"
  tls_min_version = "tls13"
}

api_addr     = "https://{{ platform_vault_tls_server_name }}:{{ platform_vault_api_port }}"
cluster_addr = "https://{{ platform_vault_tls_server_name }}:{{ platform_vault_cluster_port }}"
